.imageRow {

}
.col-centered {
  float:none;
  margin:0 auto;
}

textarea, .form-control {
  resize:none;
}

.itemList {
  background-color: #f7f7f7;
  border-radius: 2px;
  border-color:gray;
  border-width: 1px;
  border-style: solid;
}
