<%

  //Format date
  function setDateFormat(itemDate) {

    var today = new Date();
    date = today.getDate() +'.'+ (today.getMonth() + 1) +'.'+ today.getFullYear();

    var yesterday = today.getDate() - 1
    if(itemDate.getDate() == yesterday && itemDate.getMonth() == today.getMonth()) {
      return 'Eilen';
    }
    else if(itemDate.getDate() == today.getDate() && itemDate.getMonth() == today.getMonth()) {
      return "Tänään";
    }
    else {
      var itemDate = itemDate.getDate() +'.'+ (itemDate.getMonth() + 1) +'.'+ itemDate.getFullYear();
      return itemDate;
    }
  }

  //Format Type, category and subcategories
  function getTypeTitle(rawTitle) {

    switch(rawTitle) {
      case 'sell': {
        return "Myydään";
        break;
      }
      case 'buy': {
        return "Ostetaan";
        break;
      }
      case 'trade': {
        return "Vaihdetaan";
        break;
      }
    }
  }

  function getCategoryTitle(rawTitle) {
    switch(rawTitle) {
      case 'weapons': {
        return "Aseet";
        break;
      }
      case 'gear': {
        return "Varusteet";
        break;
      }
      case 'parts': {
        return "Osat";
        break;
      }
      case 'misc': {
        return "Sekalainen";
        break;
      }

    }
  }

  function getSubcategoryTitle(rawTitle) {
    switch(rawTitle) {
      case 'aeg': {
        return ", sähkötoimiset";
        break;
      }
      case 'gas': {
        return ", kaasutoimiset";
        break;
      }
      case 'spring': {
        return ", jousitoimiset";
        break;
      }
      case 'hpa': {
        return ", paineilmatoimiset (HPA)";
        break;
      }
      case 'projects': {
        return ", projektit ja raadot";
        break;
      }
      case 'combat-gear': {
        return ", taisteluvarusteet";
        break;
      }
      case 'clothes': {
        return ", vaatetus";
        break;
      }
      case 'protective': {
        return ", suojavarusteet";
        break;
      }
      case 'tuning': {
        return ", viritysosat";
        break;
      }
      case 'body-parts': {
        return ", aseiden ulko-osat";
        break;
      }
      case 'mags': {
        return ", lippaat";
        break;
      }
      case 'misc': {
        return ", sekalainen";
        break;
      }
      case undefined: {
        return '';
        break;
      }
    }
  }
%>

<% include base/header %>
      <div class="container">
        <div class="col-xs-12 col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">Rajaa hakua</div>
            <div class="panel-body">
              <form>

                <div class="form-group form-radioTypeFilter-group">
                  <span><strong>Ilmoituksen tyyppi</strong></span>

                  <div class="radio">
                    <label class="radio">
                      <input name="optionsRadios1" type="radio" value="sell"> <%- item_dealType_sell_Title %>
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio">
                      <input name="optionsRadios1" type="radio" value="buy"> <%- item_dealType_buy_Title %>
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio">
                      <input name="optionsRadios1" type="radio" value="trade"> <%- item_dealType_trade_Title %>
                    </label>
                  </div>

                </div>

                <div class="form-group form-radioCatFilter-group">
                  <span><strong>Kategoria</strong></span>
                  <div class="radio ">
                    <label class="radio">
                      <input name="optionsRadios" type="radio" value="weapons"> <%- item_category_weapons %>
                    </label>
                  </div>
                  <div class="radio ">
                    <label class="radio">
                      <input name="optionsRadios" type="radio" value="gear"> <%- item_category_gear %>
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio">
                      <input name="optionsRadios" type="radio" value="parts"> <%- item_category_parts %>
                    </label>
                  </div>
                  <div class="radio">
                    <label class="radio">
                      <input name="optionsRadios" type="radio" value="misc"> <%- item_category_misc %>
                    </label>
                  </div>

                </div>
                <!-- SUBCATEGORIES -->


                <button class="btn btn-primary" type="button" id="btn_getFilteredItems">Rajaa</button>
                <button class="btn btn-info" type="button" id="btn_getFilteredItems_reset">Resetoi rajaus</button>
              </form>

            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8">
          <% if(items.length == 0) { %>
          <div class="page-header">

              <h1 class="page-heading">Vohveli!</h1>

          </div>



            <div class="row">
              <div class="col-xs-12 col-sm-12">
              <p class="lead">Muukalaiset joita kutsutaan Punaisiksi, hyökkäsivät ja veivät Kellot mukanansa!</p>
              </div>
              <div class="col-xs-4 col-sm-7 col-md-7 col-lg-8"><p class="lead">Onko sinusta pelastamaan Softilan kellopelit?</p></div>
              <div class="col-xs-7 col-sm-5 col-md-5 col-lg-4">
                <button class="btn btn-success" onclick="window.location='/user/new/item'">KYLLÄ ON</button>
                <button class="btn btn-warning" onclick="var a = confirm('Pakkovärväys sotaan! Ilmoja täydentämään siitä, sotilas!');if(a == true) window.location = '/user/new/item'">EI OLE</button>
              </div>
            </div>

          <% } %>

        <div id="itemContainer">
        <% for(var i = 0; i < items.length;i++) { %>
          <a href="/items?id=<%- items[i]._id %>">

          <div class="row">
            <!-- IMAGE -->
            <div class="col-xs-3 thumbnail1">
              <% console.log(items[i].images[0]) %>
              <% if(items[i].images.length) { %>
              <img class="visible-xs " width="90" src="/files/<%- items[i].images[0].images[0].name %>">
              <img class="visible-sm " width="120" src="/files/<%- items[i].images[0].images[0].name %>">
              <img class="visible-md " width="150" src="/files/<%- items[i].images[0].images[0].name %>">
              <img class="visible-lg " width="170" src="/files/<%- items[i].images[0].images[0].name %>">
              <% } %>
            </div>
            <!-- END IMAGE -->
              <div class="col-xs-9">
                  <div class="col-xs-12">
                    <strong><%- getTypeTitle(items[i].categories.type) %></strong>
                  </div>
                  <div class="col-xs-8">
                    <h4><%- items[i].title %></h4>
                  </div>
                  <% if(items[i].categories.type != 'trade') { %>
                    <% if(items[i].price == 0 || items[i].price == undefined) { %>
                      <div class="col-xs-3">
                        <h4><span style="color:green">TARJOA</span></h4>
                      </div>
                    <% } else if(items[i].price > 0) { %>
                      <div class="col-xs-3">
                        <h4><span style="color:green"><%- items[i].price + item_dealItem_priceTag %></span></h4>
                      </div>
                    <% } %>
                  <% } %>

                  <div class="col-xs-12">
                    <p><%- getCategoryTitle(items[i].categories.category) + getSubcategoryTitle(items[i].categories.subcategory) %></p>
                  </div>
                  <div class="col-xs-12 col-sm-12">
                    <small><%-  setDateFormat(items[i].date)  %></small>
                  </div>
              </div>

              <div class="col-xs-12">
                <hr>
              </div>

          </div>
          </a>

        <% } %>
        </div>
        </div>


      </div>
      <% include base/footer %>
      <% include base/scripts_frontpage %>
      <% include base/footer_end %>
