<% include base/header %>
      <div class="container">
        <div class="row">
          <div class="col-centered col-xs-12 col-sm-8 col-md-7 col-lg-6">
            <div class="page-header">
              <h1>Uusi ilmoitus</h1>
            </div>
              <form id="form_newDeal" class="form-horizontal">
              <div class="form-group">
                <label for="title" class="col-xs-3 control-label"><%- item_title %></label>
                <div class="col-xs-9">
                  <input type="email" class="form-control" id="title" placeholder="<%- item_titlePlaceholder %>">
                </div>
              </div>

                  <div class="form-group form-type-group">
                    <label for="categoryRadio" class="col-xs-3 control-label"><%- item_dealType %></label>
                    <div id="categoryRadio" class="radio col-xs-9">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="dealRadio1" value="sell"> <%- item_dealType_sell %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="dealRadio1" value="buy"> <%- item_dealType_buy %>
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="dealRadio1" value="trade"> <%- item_dealType_trade %>
                      </label>
                    </div>
                  </div>

                  <div class="form-group form-select-group">
                    <label for="selectCategory" class="col-xs-3 control-label"><%- item_categoryName %></label>
                    <div class="col-xs-9" id="selectCategory">
                      <select id="select_dealCategory" class="form-control" disabled>
                        <option value="weapons"><%- item_category_weapons %></option>
                        <option value="gear"><%- item_category_gear %></option>
                        <option value="parts"><%- item_category_parts %></option>
                        <option value="misc"><%- item_category_misc %></option>
                      </select>
                    </div>
                  </div>

                  <!-- THIS AREA CONTAINS GENERATED ELEMENTS -->

                  <div class="form-group">
                    <label for="#commonDescHolder" class="col-xs-3 control-label"><%- item_commonDesc_label %></label>
                    <div id="commonDescHolder"class="col-xs-9">
                      <textarea id="commonDesc" class="form-control" placeholder="<%- item_commonDesc_Placeholder %>"></textarea>
                    </div>
                  </div>

                  <div class="page-header">
                    <h3>Lisää tuotteita ilmoitukseen</h3>
                  </div>
                    <div id="itemContainer" class="container-fluid">
                      <div class="col-xs-12 col-sm-12">
                        <!-- NORMALm JS GENERATES THESE -->
                        <div class="row itemsRow hidden" data-product-row="0">
                          <div class="col-centered col-xs-12 ">
                            <h4>Tuote 1</h4>

                            <div id="itemsGroup" class="form-group">
                              <label for="dealItem" class="col-xs-3 control-label"><%- item_dealItem_label %></label>
                              <div id="dealItem" class="col-xs-5">
                                <input id="itemName" data-id="0-name" type="text" class="form-control" placeholder="<%- item_dealItem_Name %>">
                              </div>
                              <div id="dealItemPrice" class="col-xs-4">
                                <div class="input-group">
                                  <span class="input-group-addon"><%- item_dealItem_priceTag %></span>
                                  <input id="itemPrice" data-id="0-price" type="text" class="form-control" placeholder="hinta">
                                </div>
                              </div>
                            </div>

                            <div id="itemsGroup" class="form-group">
                              <label for="dealItemDescription" class="col-xs-3 control-label"><%- item_dealItem_Descriptionlabel %></label>
                              <div id="dealItemDescription" class="col-xs-9">
                                <textarea id="itemDescription" data-id="0-desc" class="form-control" placeholder=""></textarea>
                              </div>
                            </div>

                          <!-- Here comes 'remove product button' for new products-->
                        </div>
                      </div>
                      <!-- END NORMAL -->
                      <div class="row exchangeRow hidden" data-exchange-row="0">
                        <h4>Oma vaihdokki</h4>
                          <div class="col-xs-12 col-sm-12">

                            <div class="form-group">
                              <label for="dealItem" class="col-xs-3 control-label">Tuote</label>
                              <div  class="col-xs-9">
                                <input data-id="0-name" id="dealItem" type="text" class="form-control">
                              </div>

                            </div>
                            <div class="form-group">

                              <label for="dealItem" class="col-xs-3 control-label">Seloste</label>
                              <div  class="col-xs-9">
                                <textarea data-id="0-desc" id="dealItem" type="text" class="form-control"></textarea>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="row exchangeRow hidden" data-exchange-row="0">
                            <div class="col-xs-12 col-sm-12">
                              <h4>Vaihtotuote 1</h4>
                              <div class="form-group">
                                <label for="dealItem" class="col-xs-3 control-label">Tuote</label>
                                <div  class="col-xs-9">
                                  <input id="dealItem" type="text" class="form-control">
                                </div>

                              </div>
                              <div class="form-group">

                                <label for="dealItem" class="col-xs-3 control-label">Seloste</label>
                                <div  class="col-xs-9">
                                  <textarea id="dealItem" type="text" class="form-control"></textarea>
                                </div>

                              </div>
                            </div>

                      </div>
                    </div>
                </div>

                    <div class="form-group form-btn-newItem">
                      <div class="col-xs-12">
                        <button id="btn_newItem" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;<%- item_dealItem_newItemButton_label %> </button>
                      </div>
                    </div>

                    <div class="page-header">
                      <h3>Viimeinen vaihe</h3>
                    </div>

                    <div class="col-centered col-xs-12">
                      <h4>Lataa kuvia</h4>
                      <div class="imageRow form-group">
                      </div>
                      <div class="imageInfoRow form-group">
                      </div>
                    </div>

                  <div class="col-centered col-xs-12">
                    <div class="form-group visible-xs-* hidden">
                      <div class="alert alert-info">Kameran toiminnallisuus ei välttämättä toimi kaikilla laitteilla.</div>
                    </div>

                    <div class="form-group hidden">
                      <!-- This is shown if device width matches to bootstraps prefences -->
                      <label for="input_camera" class="col-xs-3 control-label">Kamera</label>
                      <div id="input_camera" class="col-xs-8">
                        <input id="input_file_camera" type="file" accept="image/*" capture="camera">
                        <!-- Warn users that it might not be functional on some devices -->
                      </div>

                    </div>

                      <div class="form-group">
                        <label for="input_file" class="col-xs-3 control-label">Tiedosto</label>
                        <div id="input_file" class="col-xs-8">
                          <input id="input_file_pc" type="file" multiple accept=".jpg, .png" name="picture">
                        </div>
                      </div>
                  </div>

                  <div class="panel panel-primary">
                    <div class="panel-body">

                      <div class="col-xs-7 col-sm-9">
                        <span>Lähettämällä hyväksyt <a href="/about/legal">Airsoft Kirpputorin säännöt ja käyttöehdot.</a></span>
                      </div>
                      <div class="col-xs-3">
                        <button type="button" class="btn btn-success" id="submitItem">Lähetä ilmoitus</button>
                      </div>

                    </div>
                  </div>

            </form>
          </div>
        </div>
      </div>

<% include base/footer %>
<% include base/scripts_newItem %>
<script src="/js/client/newProduct.js"></script>
<script src="/js/client/imageHandler.js"></script>
<script src="/js/client/InputHandler.js"></script>
<% include base/footer_end %>
