<% include ../base/header %>
<div class="container">
  <div class="row">
    <div class="col-centered col-xs-12 col-sm-8">
      <div class="jumbotron">
        <% if(messageStatus == true) { %>
        <!-- STATUS TRUE -->
        <h1 style="color:green"><%- messageHeading %></h1>

        <p><%- messageDesc %></p>
        <button onclick="window.location='<%- messageButtonUrl %>'" class="btn btn-success" ><%- messageButtonTitle %></a></button>
        <% } else { %>
          <!-- STATUS FALSE -->
        <h1 style="color:red"><%- messageHeading %></h1>

        <p><%- messageDesc %></p>

        <button onclick="window.location='<%- messageButtonUrl %>'" class="btn btn-danger" ><%- messageButtonTitle %></a></button>
        <% } %>
      </div>
    </div>
  </div>
</div>




<% include ../base/footer %>
