<!DOCTYPE html>
<html>
  <head>
    <title><%- siteTitle %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
  </head>
  <body>

    <!-- Menu should come below this line -->
    <% include navbar %>
