<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Nav bar collapsed -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/new/item"><%- siteTitle %></a>
    </div>

  <!-- Content in navbar -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- list style bar -->
    <ul class="nav navbar-nav">

    </ul>
  </div>
    </div>
</nav>
